@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  height:100vh;
}

footer{
  background-color: rgb(66, 71, 138);
  max-height: 3rem;
  height: 2.5rem;
  color:white;
}
.add{
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width:8rem;
}

.add:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.prompt-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

a {
  all: unset; /* Resets all styles */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color from parent */
  cursor: text; /* Changes cursor to text-like */
}

.prompt{
  display:none
}

.header{
  display:flex;
  background-color: rgb(66, 71, 138);
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
  color:white
}

#libraryIcon{
  width:6rem;
}

.buttonContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

footer{
  display:flex;
  justify-content: center;
}

#main{
  height: 30rem ;
}

.hidden {
  display: none;
}

#popupMessage {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(66, 71, 138);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-size: 16px;
}

.bookContainer{
  width: 14rem;
  height: 11rem;
  background-color: rgb(28, 36, 145);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  line-height: 30px;
}

#library{
  display:flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}